.header {
  width: 100%;
  color: white;
  padding: 1.5em 0;
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
}

.headerTitle {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
  font-family: 'Metal Mania', sans-serif;
  color: transparent;
  background: linear-gradient(#fff200, #ff8c8c);
  background-clip: text;
  margin: 0;

  svg {
    width: auto;
    height: 1.2em;
    margin-right: .6em;
  }

}